:host {
  $indent: 20px;

  width: calc(100dvw - $indent * 3);
  display: block;
  padding: $indent;

  .search-panel {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: $indent;

    button {
      margin-bottom:$indent;
    }
  }

  app-asset-live-data {
    margin-bottom: $indent;
  }
}
